:root {
    --main-color: #854d0e;
    --text-color: #714410;
    --section-color: #e4cbae;
    --font-family: "Manrope", "Arial", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
}

/* header */
header {
    background-color: var(--section-color);
    color: var(--text-color);
    line-height: 3rem;
    font-size: 3rem;
    letter-spacing: 3px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
    gap: 40vw;
    flex: 1;
}

header img {
    width: 4rem;
    height: 4rem;
}

header > section:first-child {
    width: 5vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

header button {
    color: var(--text-color);
    border: none;
    border-radius: 8px;
    background: rgba(255,255,255,0.6);
    padding: 15px;
    font-size: 1rem;
    font-weight: 600;
    font-family: var(--font-family);    
}

/* MAIN */
main {
    height: 75vh;
    width: 100%;
    overflow: auto;
}

main table {
    display: flex;
    flex-flow: column nowrap;
    width: 60%;
    font-size: 0.8rem;
    padding: 30px;
    margin: 0 auto;
}

thead:first-child {
    border-bottom: 1px solid var(--section-color);
}

tr {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    gap: 20px;

    border-bottom: 1px solid var(--section-color);
}

th, td {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;

    padding: 8px 0;
    font-size: 1rem;
}

th {
    color: var(--text-color);
}

.readBtn {
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  background-color: #e4cbae;
  color:  #714410;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 0.8rem;
  cursor: pointer; 
}

.cancelBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}


/* FOOTER */
footer {
    font-size: 1rem;
    color: var(--text-color);
    height: 5vh;

    display: flex;
    margin-top: auto;
    align-items: center;
    justify-content: center;
}

/* DIALOG */

dialog {
    position: fixed;
    top: 20%;
    left: 40%;
    width: 300px;
    border: none;
    border-radius: calc(5px * var(--ratio));
    box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    padding: 1.6rem;
    max-width: 400px;
    background-color: #72522e;
    border-radius: 12px;
  }

  form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 20px;
  }

  #author,
  #title,
  #url,
  #pages {
    width: 100%;
    padding: 12px;
  }

  #read {
    color: var(--section-color);
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
    line-height: 1.2;
  }

  input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    color: var(--section-color);
    width: 1.4rem;
    height: 1.4rem;
    border: 0.10rem solid var(--section-color);
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
  }

  input[type="checkbox"]::before {
    content: "";
    width: 0.8rem;
    height: 0.8rem;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--text-color);
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }

  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }

  form > div {
    width: 100%;
  }

  #submitBtn {
    width: 100%;
    padding: 12px;
    font-size: 1.2rem;
    color: var(--text-color);
    border-radius: 8px;
    border: none;
    background-color: var(--section-color);
  }

  input {
    border-radius: 8px;
    border: none;
    background-color: whitesmoke;
  }

  input::placeholder {
    font-size: 1.2rem;
    color: var(--text-color);
  }

  h1 {
    font-weight: 500;
    color: var(--section-color);
    font-size: 1.7rem;
  }


/* PHONE SCREEN */
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    header {
     font-size: 1.6rem;
     line-height: 1rem;
     gap: 0px;
     padding-left: 20px;
    }

    header img {
        height: 2.5rem;
    }

    header button {
        color: var(--text-color);
        border: none;
        border-radius: 8px;
        background: rgba(255,255,255,0.6);
        padding: 10px;
        font-size: 0.8rem;
        font-weight: 600;
        font-family: var(--font-family);  
    }

    footer{
        font-size: 0.8rem;
    }


    main table {
        width: 100%;
        padding: 10px;
    }

    tr {
        gap: 2vw;
    }
    
    th, td {
        padding: 8px 0;
        font-size: 0.8rem;
    }
    
    td > img {
        width: 3.5rem;
        height: 5rem;
    }

    dialog {
       left: 15vw;
    }

  }